appName: app
namespace: default
environmentName: default

image:
  repository: nginx
  tag: latest
  port: 80

resources:
  default:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi

autoscaling:
  default:
    minReplicas: 1
    maxReplicas: 2
    targetCPUUtilizationPercentage: 80

probe:
  default:
    liveness:
      httpGet:
        path: /hc
        port: 8080
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 3
      successThreshold: 1
      failureThreshold: 3
    readiness:
      httpGet:
        path: /ready
        port: 8080
      initialDelaySeconds: 5
      periodSeconds: 5
      timeoutSeconds: 3
      successThreshold: 1

env:
  default:

serviceAccount:
  name: ""
  roleArn: ""
