apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.appName }}-deployment
  namespace: {{ .Values.namespace }}
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{.Values.replicaCount}}
{{- end }}
  selector:
    matchLabels:
      app: {{ .Values.appName }}
  template:
    metadata:
      labels:
        app: {{ .Values.appName }}
    spec:
      {{- if .Values.serviceAccount.roleArn }}
      serviceAccountName: {{ default (printf "%s-sa" .Values.appName) .Values.serviceAccount.name }}
      {{- end }}
      containers:
      - name: {{ .Values.appName }}
        image: {{ printf "%s:%s" .Values.image.repository .Values.image.tag }}
        ports:
          - containerPort: {{.Values.image.port}}
        {{- if .Values.env }}
        env: 
        {{- range $key, $val := .Values.env }}
          - name: {{ $key }}
            value: "{{ $val }}"
        {{- end }}
        {{- end }}
        {{- with .Values.livenessProbe }}
        livenessProbe:
{{ toYaml . | indent 12 }}
        {{- end }}
        {{- with .Values.readinessProbe }}
        readinessProbe:
{{ toYaml . | indent 12 }}
        {{- end }}
        {{- with .Values.resources }}
        resources:
{{ toYaml . | indent 12 }}
        {{- end }}